<template>
  <v-container class="mt-0 pt-0">
    <div style="z-index:0; position: absolute; position: fixed; top: 0; right:0; ">
      <v-img src="../../public/img/flower6.png" class="mx-auto" style="width:350px" contain />
    </div>

    <!-- <div style="z-index:0; position: absolute; position: fixed; bottom: 0; left:0; ">
      <v-img src="../../public/img/flower-rev.png" class="mx-auto" style="width:250px" contain></v-img>
    </div>
     -->
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width:200px; margin-left: auto; margin-right: auto;" />
    </router-link>

    <!-- 검색 -->
    <div class="mx-auto my-2" style="display: block;">
      <v-layout align-center justify-center>
        <div class="d-flex justify-content-center">
          
          <v-col class="mt-2" style="height:10px">
            <v-overflow-btn
              v-model="search_location.values"
              color="#968065"
              :items="search_location.location"
              label="지역"
              target="#dropdown-example"
              style="font-size: 12px; width:140px; height:10px"
            />
          </v-col>

          <v-col cols="12" sm="6" md="3" style="min-width:450px">
            <v-text-field
              v-model="search_word"
              label="식당 검색"
              color="#968065"
              outlined
              @keyup.enter="goSearch"
            />
          </v-col>

          <v-btn icon style="padding: 12px;" class="mt-2" text-color="#968065" @click="goSearch">
            <i class="fas fa-search" style="font-size:25px; color:#968065" />
          </v-btn>
        </div>
          
      </v-layout>
    </div>

    <!-- 메뉴 -->
    <div>
      <v-card class="row" flat outlined color="transparent" style="font-weight:700; ">
        <v-btn class="mx-auto my-auto" text style="font-size:18px" @click="recommend">
          맞춤 음식 처방 
        </v-btn> <p style="color:#968065" color="">|</p>
        <v-btn class="mx-auto my-auto" text style="font-size:18px" @click="topscore"> 평점 높은 음식점 </v-btn> <p style="color:#968065" color="">|</p>
        <v-btn class="mx-auto my-auto" text style="font-size:18px" @click="topreview"> 리뷰 많은 음식점 </v-btn> <p style="color:#968065" color="">|</p>
        <v-btn class="mx-auto my-auto" text style="font-size:18px" @click="listpage"> 전체 음식점 </v-btn> 
      </v-card>
    </div>

    <!-- 서비스 설명 -->
    <div style="margin-top:30px; margin-bottom:80px">
      <v-img src="../../public/img/introduction2.png" class="mx-auto" style="width:70%" contain /> 
    </div>

    <!-- 추천 리스트 -->
    <div class="row">
      <!-- 평점 랭킹 -->
      <div class="col-6" style="text-align: center;">
        <v-card max-width="500" class="mx-auto" flat color="transparent">
          <v-system-bar color="#73615d" dark />
          <v-app-bar dark color="#8a6962" flat>
            <v-toolbar-title style="text-align: center;" class="row">
              <img src="../../public/img/gold.png" style="height:50px" alt="">
              <h2>평점 높은 식당</h2>
              <v-col style="height:10px">
                <v-overflow-btn
                  v-model="top_local"
                  color="#968065"
                  :items="search_location.location2"
                  label="지역"
                  target="#dropdown-example"
                  style="font-size: 12px; width:140px; height:10px"
                  class="ml-8"
                />
              </v-col>
              <i class="fas fa-search mr-2 mt-3" style="font-size:25px; color:white; cursor: pointer" @click="top_score_search" />
            </v-toolbar-title>
          </v-app-bar>
          <v-container>
            <v-row v-if="loading_scores" dense>
              <v-col v-for="(top_score, i) in top_scores" :key="i" cols="12">
                <router-link :to="`/storedetail/${top_score.store.id}`" style="text-decoration:none">
                  <v-card color="#cfb3ae" dark min-height="230">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div style="text-align: start; color:#2b332c;" class="mx-2">
                        <v-card-title class="mx-0">
                          {{ i+1 }} . {{ top_score.store.store_name }}  
                        </v-card-title>
                        <div v-if="top_score.store.category_list" class="ml-10 mb-3">
                          <span v-for="category in top_score.store.category_list" :key="category.id" class=" mx-2">
                            <v-btn rounded depressed small color="#e8e3d8">
                              <span style="color:black">{{ category }}</span>    
                            </v-btn>
                          </span>
                        </div>
                        <div class="ml-5 mr-3 mb-3 mt-0">
                          <p class="my-1">
                            <i class="fas fa-phone" style="color:#694e49" />
                            {{ top_score.store.tel }}
                          </p>
                          <p class="my-1">
                            <i class="fas fa-map-marker-alt" style="color:#694e49" />
                            {{ top_score.store.address }}
                          </p>
                          <p class="my-1">
                            <i class="fas fa-key" style="color:#694e49" />
                            댓글 키워드
                          </p>
                          <div class="row ml-3">
                            <div v-for="(keyword, j) in top_score.keywords" :key="j" style="display:inline" class="">
                              <div class="mr-1">
                                <strong style="color:#c44f4f">#</strong> <span>{{ keyword }}</span>
                              </div>                          
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-card>
                </router-link>
              </v-col>
            </v-row>
            <v-row v-else>
              <div style="margin-left: 150px">
                <v-icon>mdi-loading mdi-spin</v-icon>
                불러오는 중입니다.
              </div>
            </v-row>
          </v-container>
        </v-card>
      </div>
      
      <!-- 리뷰 수 랭킹 -->
      <div class="col-6" style="text-align: center;">
        <v-card max-width="500" class="mx-auto" flat color="transparent">
          <v-system-bar color="#5e4f3c" dark />
          <v-app-bar dark color="#827b72" flat>
            <v-toolbar-title style="text-align: center;" class="row">
              <img src="../../public/img/gold.png" style="height:50px" alt="">
              <h2>리뷰 많은 식당</h2>
              <v-col style="height:10px">
                <v-overflow-btn
                  v-model="top_local2"
                  color="#968065"
                  :items="search_location.location2"
                  label="지역"
                  target="#dropdown-example"
                  style="font-size: 12px; width:140px; height:10px"
                  class="ml-8"
                />
              </v-col>
              <i class="fas fa-search mr-2 mt-3" style="font-size:25px; color:white; cursor: pointer" @click="top_review_search" />
            </v-toolbar-title>
          </v-app-bar>
          <v-container>
            <v-row v-if="loading_reviews" dense>
              <v-col v-for="(top_review, i) in top_reviews" :key="i" cols="12">
                <router-link :to="`/storedetail/${top_review.store.id}`" style="text-decoration:none">
                  <v-card color="#e6d1b8" dark min-height="230">
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div style="text-align: start; color:#2b332c;" class="mx-2">
                        <v-card-title class="mx-0">
                          {{ i+1 }} . {{ top_review.store.store_name }}  
                        </v-card-title>
                        <div v-if="top_review.store.category_list" class="ml-10 mb-3">
                          <span v-for="category in top_review.store.category_list" :key="category.id" class=" mx-2">
                            <v-btn rounded depressed small color="#e8e3d8">
                              <span style="color:black">{{ category }}</span>    
                            </v-btn>
                          </span>
                        </div>
                        <div class="ml-5 mr-3 mb-3 mt-0">
                          <p class="my-1" >
                            <i class="fas fa-phone" style="color:#694e49" />
                            {{ top_review.store.tel }}
                          </p>
                          <p class="my-1">
                            <i class="fas fa-map-marker-alt" style="color:#694e49" />
                            {{ top_review.store.address }}
                          </p>
                          <p class="my-1">
                            <i class="fas fa-key" style="color:#694e49" />
                            댓글 키워드
                          </p>
                          <div class="row ml-3">
                            <div v-for="(keyword, j) in top_review.keywords" :key="j" style="display:inline" class="">
                              <div class="mr-1">
                                <strong style="color:#c44f4f">#</strong> <span>{{ keyword }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-card>
                </router-link>
              </v-col>
            </v-row>
            <v-row v-else>
              <div style="margin-left: 150px">
                <v-icon>mdi-loading mdi-spin</v-icon>
                불러오는 중입니다.
              </div>
            </v-row>
          </v-container>
        </v-card>
      </div>
    </div>
  </v-container>
</template>


<script>
// import axios from "axios";
import baseURL from "../http-common";
import router from '../router';

export default {
  data: () => ({
    search_location : {
      location: ['전체', '서울', '인천', '대전', '광주', '대구', '부산', '울산','제주도', "경기", "강원", "충청", "전라", "경상"],
      location2: ['서울', '인천', '대전', '광주', '대구', '부산', '울산','제주도', "경기", "강원", "충청", "전라", "경상"],
      value: '서울',
    },
    search_word : "",

    top_local: "서울",
    top_local2: "서울",
    top_reviews: {},
    top_scores: {},
    loading_reviews: false,
    loading_scores: false,
    }),
  mounted() {
    this.top_score_search(),
    this.top_review_search()
  },
  methods: {
    recommend() {
      this.$router.push("/recommend");
    },
    listpage() {
      this.$router.push("/listpage")
    },
    topscore() {
      this.$router.push("/topscore")
    },

    topreview() {
      this.$router.push("/topreview")
    },
    top_score_search() {
      baseURL
        .post("/api/scores/", {local: this.top_local})
        .then((res) => {
          this.top_scores = res.data.store_scores_list
          this.loading_scores = true
        })
    },
    top_review_search() {
      baseURL
      .post('/api/keywords/', {local: this.top_local2})
      .then((res) => {
        this.top_reviews = res.data.store_keywords_list
        this.loading_reviews = true
      })
      .catch(() => {
      })
    },
    goSearch() {
      if (this.search_location.values == undefined || this.search_location.values == "전체"){
        this.search_location.values = ""
      }
      router.push({name:'search', params: {loc: this.search_location.values, word: this.search_word}})
    },
  },
}
</script>

<style>
.v-text-field__details{
  display: none;
}
.v-input__slot{
  height: 25px;
}

</style>