<template>
  <div class="container">
    <!-- 홈으로 이동 -->
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width: 200px; margin-left: auto; margin-right: auto;" /> 
    </router-link>

    <!-- 배경 이미지(오른쪽 위) -->
    <div style="z-index: 0; position: absolute; position: fixed; top: 0; right: 0;">
      <v-img src="../../public/img/flower18.png" class="mx-auto" style="width: 350px" contain />
    </div>

    <!-- 배경 이미지(왼쪽 아래) -->
    <div style="z-index: 0; position: absolute; position: fixed; bottom: 0; left: 0;">
      <v-img src="../../public/img/panda.png" class="mx-auto" style="width: 250px;" contain />
    </div>

    <!-- 버튼 및 리스트 -->
    <div class="row">

      <!-- 이전 페이지 버튼 -->
      <v-col cols="2">
        <!-- 이전 페이지가 없을 때 -->
        <v-btn
          v-if="previousurl==null"
          dark="dark"
          small="small"
          color="gray"
          style="position: sticky; top: 50%; left: 50%;"
          disabled
        >
          <v-icon dark="dark">mdi-minus</v-icon>
        </v-btn>
        <!-- 이전 페이지가 있을 때 -->
        <v-btn
          v-else
          dark="dark"
          small="small"
          color="gray"
          style="position: sticky; top: 50%; left: 50%;"
          @click="getPreviousStores()"
        >
          <v-icon dark="dark">mdi-minus</v-icon>
        </v-btn>
      </v-col>

      <!-- 음식점 리스트 -->
      <v-col cols="8">
        <div class="text-center row">
          <v-col cols="1" />
          <v-col cols="10">
            전체 음식점 리스트
            <br>
            <br>
            <v-card v-for="store in stores" :key="store.id" class="my-3">
              <h2>{{ store.store_name }}</h2>
              <p>{{ store.address }}</p>
              <v-btn 
                block
                text
                color="light-green darken-4"
                @click="goStoreDetail(store.id)"
              >
                음식점 알아보기
              </v-btn>
            </v-card>
          </v-col>
          <v-col cols="1" />
        </div>
      </v-col>
      <!-- 이후 페이지 버튼 -->
      <v-col cols="2">
        <!-- 이후 페이지가 없을 때 -->
        <v-btn
          v-if="nexturl==null"
          dark="dark"
          small="small"
          color="gray"
          style="position: sticky; top: 50%; left: 50%;"
          disabled
        >
          <v-icon dark="dark">mdi-plus</v-icon>
        </v-btn>
        <!-- 이후 페이지가 있을 때 -->
        <v-btn
          v-else
          dark="dark"
          small="small"
          color="gray"
          style="position: sticky; top: 50%; left: 50%;"
          @click="getNextStores()"
        >
          <v-icon dark="dark">mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </div>
  </div>
</template>

<script>
import router from "../router";
import baseURL from "../http-common";

export default {
  data() {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      stores: [],
      nexturl: "",
      previousurl: "",
      headers: [
        {
          text: 'Stores',
          align: 'start',
          value: 'store_name'
        },
        {
          text: 'addr',
          value: 'address'
        },
        {
          text: 'tel',
          value: 'tel'
        }
      ],
    }
  },
  mounted() {
    this.getStores()
  },
  methods: {
    getStores() {
      baseURL
      .get('/api/stores')
      .then(res => {
        this.stores = res.data.results
        if (res.data.next !== null) {
          this.nexturl = res.data.next.split('8000')[1]
        } else {
          this.nexturl = null
        }
        if (res.data.previous !== null) {
          this.previousurl = res.data.previous.split('8000')[1]
        } else {
          this.previousurl = null
        }
      })
      .catch(() => {
      })
    },
    getNextStores() {
      baseURL
      .get(this.nexturl)
      .then(res => {
        this.stores = res.data.results
        this.nexturl = res.data.next
        this.previousurl = res.data.previous
      })
      .catch(() => {
      })
    },
    getPreviousStores() {
      baseURL
      .get(this.previousurl)
      .then(res => {
        this.stores = res.data.results
        this.nexturl = res.data.next
        this.previousurl = res.data.previous
      })
      .catch(() => {
      })
    },
    goStoreDetail(storeId) {
      router.push(`/storedetail/${storeId}`)
    },
  }
}
</script>