<template>
  <v-container class="mt-5" fill-height>
    <v-card-text class="text-center">
      <p class="display-3 pa-2">🍜</p>
      <p class="display-2 pa-5">로그아웃 되었습니다.</p>
      <v-btn large color="blue lighten-1 white--text ma-5" rounded to="/home">돌아가기</v-btn>
    </v-card-text>
  </v-container>
</template>

<script>
import router from "../router";

export default {
  mounted: function(){
    this.logout();
  },
  methods: {
    logout() {
      alert("로그아웃 되었습니다");
      this.$store.dispatch("logout");
      router.push("/")
    },
    home() {
      router.push("/")
    }
  }
};
</script>
