<template>
  <div>
    <div style="z-index:0; position: absolute; position: fixed; bottom: 0; right:0; ">
      <v-img src="./viewdata/infoupdate.png" class="mx-auto" style="width:500px" contain/>
    </div>
    <v-container>
      <v-img :src="require('./viewdata/oldscroll.png')" height="400px" contain>
        <v-row align="center" justify="center">


          <v-card class="ml-10" width="800px" color="rgb(0,0,0,0)" flat>
            <v-row class="mt-12" align="center" justify="center">  

              <v-col cols="1" class="ml-2 mt-2 mb-11 mr-4">
                <p style="writing-mode:tb-rl; font-size:35px; margin-bottm:20px;">내   정 보   수정</p>
              </v-col>
              <v-col cols="2" class="p-0 ml-5 text-center">
                <header>성별</header>
                <v-row justify="center" class="m-0 p-0">
                  <v-radio-group
                    v-model="gender"
                    justify="center"
                    row
                    required
                  >
                    <v-radio
                      v-for="userGender in userGenderList"
                      :key="userGender"
                      :label="`${userGender}`"
                      :value="userGender"
                    />
                  </v-radio-group>
                </v-row>
              </v-col>
              <v-col cols="3" class="p-0 m-0 text-center">
                <header>나이</header>
                <v-text-field
                  v-model="age"
                  :rules="ageRules"
                  label="age"
                  type="number"
                  required
                  class="p-0 m-0"
                />
              </v-col>
              <v-col cols="2">
                <v-row>
                  <v-btn class="ml-5 mb-1" outlined @click="info">수정</v-btn>
                </v-row>
                <v-row>
                  <v-btn class="ml-5 mt-1" outlined @click="$router.go(-1)">취소</v-btn>
                </v-row>
              </v-col>
              <!-- <v-col cols="1"></v-col> -->
            </v-row>
          </v-card>
        </v-row>
      </v-img>
    </v-container>
  </div>
</template>

<script>
// import axios from "axios";
import router from "../router";
import baseURL from "../http-common";

export default {
  data: () => ({
    userName: "",
    isAuthenticated: "",
    requestHeader: "",
    userId: "",
    gender: null,
    age: null,
    ageRules: [
      v => !!v || "필수 항목입니다.",
      v => v <= 120 || "나이는 120살을 넘을 수 없습니다.",
      v => v > 0 || "나이는 0살보다 많아야 합니다.",
    ],
    userGenderList: ["남", "여"],
    loading: true,
    message: "",
  }),
  mounted: function() {
    this.userName = this.$store.getters.userName,
    this.isAuthenticated = this.$store.getters.isAuthenticated,
    this.requestHeader = this.$store.getters.requestHeader,
    this.userId = this.$store.getters.userId
    this.getUser();
  },
  methods: {
    getUser() {
      baseURL
        .get(`/api/users/${this.userId}/`, this.requestHeader)
        .then(response => {
          this.gender = response.data.data.gender
          this.age = response.data.data.age
        })
        .catch(() => {
        })
    },
    info() {
      const requestForm = new FormData()
      requestForm.append("gender", this.gender)
      requestForm.append("age", this.age)
      baseURL
        .put("/api/userinfos/", requestForm, this.requestHeader)
        .then(response => {
          // 수정완료 알림창 있으면 좋을듯
          this.message = response.data.message
          if (this.message === undefined) {
            alert("수정 완료 되었습니다.")
            router.go(-1)
          } else {
            alert(this.message)
          }
        })
        .catch(() => {
        })
    }
  },
};
</script>