<template>
  <div>
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width: 200px; margin-left: auto; margin-right: auto;" /> 
    </router-link>
    <div style="z-index:0; position: absolute; position: fixed; bottom: 0; right:0; ">
      <v-img src="../../public/img/flower19-1.png" class="mx-auto" style="width:450px" contain/>
    </div>
    <div style="z-index:0; position: absolute; position: fixed; bottom: 0; left:0; ">
      <v-img src="../../public/img/flower19-2.png" class="mx-auto" style="width:450px" contain/>
    </div>
    <v-container class="mt-5" fill-height>
      <v-layout class="d-flex justify-center">
        <v-card class="justify-center" color="rgb(0, 0, 0, 0)" outlined width="600">
          <v-img :src="require('./viewdata/oldscrollpainting.png')" class="py-5" contain>
            <v-card class="mt-12 ml-12" color="rgb(0, 0, 0, 0)" outlined>
              <v-card-title class="mt-12 mx-10">
                <h3> {{ userName }}님의 마이페이지 </h3>
              </v-card-title> 
              <br>
              <!--우리가 정보가 있는지 없는지 알려준다 isAuthenticated  -->
              <div v-if="isAuthenticated" class="mx-12">
                <table class="pb-0">
                  <tr class="pb-1">
                    <td>성별 :</td>
                    <td />
                    <div v-if="loading">
                      <td v-if="credential.gender == female"> 女</td>
                      <td v-else-if="credential.gender == male"> 男</td>
                      <td v-else> 성별 정보가 없습니다.</td>
                    </div>
                  </tr>
                  <tr class="pb-1">
                    <td>나이 :</td>
                    <td />
                    <td v-if="credential.age != null">{{ credential.age }}세</td>
                    <td v-else> 나이 정보가 없습니다.</td>
                  </tr>
                </table>
              </div>
              <br>
              <v-layout class="ml-12">
                <div class="mx-1">
                  <v-btn outlined width="100" height="40" @click="to_info">
                    수정
                  </v-btn>
                </div>
                <div class="mx-5">
                  <v-btn outlined width="100" height="40" @click="$router.go(-1)">
                    뒤로
                  <!-- <v-btn outlined width="100" height="40" @click="$router.push('/')">
                    홈으로 -->
                  </v-btn>
                </div>
              </v-layout>
              <br>
            </v-card>
          </v-img>
        </v-card>

        <div class="mt-5">
          
          <v-card class="mt-12 align-self-start" width="400" color="#E2DDB3" outlined>
            <h3 class="mx-5 mt-2 mb-2">나의 리뷰</h3>
            <div>
              <v-card
                color="#aba985"
                class="mx-2"
                height="30px"
              >
                <v-row class="font-weight-bold" style="font-size:15px">
                  <v-col cols="5" class="ml-3 pt-1" style="font-size:15px">상호명</v-col>
                  <v-col class="pt-1" style="font-size:15px">리뷰 내용</v-col>
                </v-row>
              </v-card>
            </div>
            <div v-if="reviews.length != 0">
              <div v-for="(review, i) in reviews" :key="i">
                <v-card
                  color="#EFEED8"
                  class="mx-2 my-2"
                  flat
                >
                  <v-card-text>
                    <v-row>
                      <v-col cols="5">
                        {{ i+1 }}. {{ review.store.store_name }}
                      </v-col>
                      <v-col>
                        "{{ review.content }}"
                      </v-col>
                    </v-row>
                    <!-- {{ i+1 }}번 리뷰: {{ review.store.store_name }} ({{ review.score }}점) "{{ review.content }}" -->
                  </v-card-text>
                </v-card>
              </div>
            </div>
            <div v-else>
              <v-card
                color="#EFEED8"
                class="mx-2 my-2"
              >
                <v-card-text>
                  아직 리뷰를 작성하지 않으셨습니다.
                </v-card-text>
              </v-card>
            </div>
          </v-card>
        </div>
        
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// import axios from "axios";
// eslint-disable-next-line no-unused-vars
import { mapGetters } from "vuex";
import baseURL from "../http-common";

export default {
  name: "MyPage",
  data: () => ({
    credential :{
      gender : '',
      age : '',
    },
    female: "여",
    male: "남",
    reviews: [],
    isAuthenticated: "",
    requestHeader: "",
    userId: "",
    loading: false,
    userName: "",
  }),
  mounted: function() {
    this.userName = this.$store.getters.userName,
    this.isAuthenticated = this.$store.getters.isAuthenticated,
    this.requestHeader = this.$store.getters.requestHeader,
    this.userId = this.$store.getters.userId
    this.getUser();
  },
  methods: {
    getUser() {
      baseURL
      .get(`/api/users/${this.userId}/`, this.requestHeader)
      .then(response => {
        this.credential.gender = response.data.data.gender;
        this.credential.age = response.data.data.age;
        this.reviews = response.data.reviews;
        this.loading = true
      })
      .catch(() => {
      })
    // async getUser() {
    //   try {
    //     const response = 
    //     await baseURL
    //     .get(`/api/users/${this.userId}/`, this.requestHeader)        
    //     this.credential.gender = response.data.data.gender;
    //     this.credential.age = response.data.data.age;
    //     this.reviews = response.data.reviews;
    //   } catch (error) {
    //     console.log(error)
    //   }
    //   this.loading = true
  },
  to_info() {
      this.$router.push("/myinfoupdate");
  }
}
};
</script>
