<template>
  <div>
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width: 200px; margin-left: auto; margin-right: auto;" />
    </router-link>
    <div class="container">
      <!-- 오른쪽 상단 그림 -->
      <div style="z-index:0 ; position: absolute; position: fixed; top: 0; right: 0;">
        <v-img src="../../public/img/flower5.png" class="mx-auto" style="width: 250px;" contain />
      </div>

      <h3 class="mx-12 px-5 mt-3">
        몸이 안좋으신가요? 증상을 선택해주세요. <span style="font-size:15px">(복수 선택 가능)</span>
      </h3>
      <div class="check" color="transparent">
        <!-- 증상 체크박스: 중복 허용-->
        <v-flex row py-0 align-center justify-center px-12>
          <v-checkbox v-model="health" class="px-3" label="감기" value="감기" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="감기초기" value="감기초기" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="기침" value="기침" color="#969965" />
          <v-checkbox v-model="health" class="px-3" label="두통" value="두통" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="발열" value="발열" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="결핵균" value="결핵균" color="#968965" />
          <v-checkbox v-model="health" class="px-3" label="불면" value="불면" color="#968965" />
          <v-checkbox v-model="health" class="px-3" label="변비" value="변비" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="설사" value="설사" color="#969965" />
          <v-checkbox v-model="health" class="px-3" label="치질" value="치질" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="이질" value="이질" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="부종" value="부종" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="노화방지" value="노화방지" color="#969965" />
          <v-checkbox v-model="health" class="px-3" label="저체중" value="저체중" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="과체중" value="과체중" color="#969965" />
          <v-checkbox v-model="health" class="px-3" label="식욕부진" value="식욕부진" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="다한증" value="다한증" color="#968965" />
          <v-checkbox v-model="health" class="px-3" label="타박상" value="타박상" color="#966965" />
          <v-checkbox v-model="health" class="px-3" label="경련" value="경련" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="농양" value="농양" color="#968965" />
          <v-checkbox v-model="health" class="px-3" label="기생충" value="기생충" color="#969965" />
          <v-checkbox v-model="health" class="px-3" label="여성질환" value="여성질환" color="#967965" />
          <v-checkbox v-model="health" class="px-3" label="옴" value="옴" color="#968965" />


        </v-flex>
      </div>

  

      <h3 class="mt-8 mx-12 px-5">
        검색할 지역을 선택해주세요.
      </h3>
      <div class="check">
        <!-- 지역 체크박스: 중복 불허 -->
        <v-flex row py-0 align-center justify-center px-12>
          <v-checkbox v-model="local" class="px-3" label="서울특별시" value="서울" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="인천광역시" value="인천" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="대전광역시" value="대전" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="광주광역시" value="광주광역시" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="대구광역시" value="대구" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="부산광역시" value="부산" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="울산광역시" value="울산" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="제주도" value="제주" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="경기도" value="경기" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="강원도" value="강원" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="충청도" value="충청" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="전라도" value="전라" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="경상도" value="경상" color="#5a5f7d" />
          <v-checkbox v-model="local" class="px-3" label="구미시" value="구미" color="#5a5f7d" />
        </v-flex>
      </div>
    </div>

    <!-- 로그인 한 경우 -->
    <div v-if="userName!==null" class="container">
      <!-- 결과보기 버튼(증상이 없을 때) -->
      <v-flex v-if="healthList.length==0&&message!=='No reviews'" class="mt-8" text-center col-12>
        <v-btn large style="font-size:20px" class="recommend-btn" @click="getRecommend()">
          <strong >{{ userName }}</strong> 님의 처방 결과 보기
        </v-btn>
      </v-flex>

      <!-- 결과보기 버튼(증상이 있을 때) -->
      <v-flex v-else-if="healthList.length!==0&&message!=='No reviews'" class="mt-8" text-center col-12>
        <v-btn large style="font-size:20px" class="recommend-btn" @click="getRecommend()">
          <strong>{{ userName }}</strong> 님의 &nbsp; <strong>{{ healthList }}</strong> &nbsp; 처방 결과 보기
        </v-btn>
      </v-flex>

      <!-- 결과보기 버튼(리뷰 작성 안 됐을 때) -->
      <v-flex v-else-if="message=='No reviews'" text-center col-12>
        <div style="background-color:transparent">
          <p class="d-block">처방을 받기 위해서는 적어도 하나의 음식점 리뷰를 작성해야합니다. </p>
          <p class="d-block">리뷰 작성을 해주세요.</p>  
        </div>
      </v-flex>


      <!-- 로딩 화면 및 결과 화면 띄우기 -->
      <v-flex v-show="showResults" class="text-center">

        <!-- 추천 설명 -->
        <!-- <div style="font-size: 30px;" class="mb-5">
          <strong>
            {{ userName }}
          </strong>
          님에게 추천하는 음식점은?!
        </div> -->

        <!-- 로딩 바 -->
        <div v-if="loading" >
          <div align-center justify-center>
            <v-progress-linear slot="progress" color="brown" :loading="true" indeterminate />
            <p class="mt-5" style="font-size: 40px;">음식 처방 중입니다</p>
          </div>
        </div>

        <!-- 로딩이 끝나고 추천 결과 창  -->
        <div v-else style="position: relative;">

          <!-- 검색 결과 없음 -->
          <div v-if="message=='No search results'">
            <v-card class="result-card" flat color="transparent">
              <div class="result-padding">
                <div class="mx-auto mb-5">
                  <h3>*</h3>
                  <h3>*</h3>
                  <h3>*</h3>
                  <h2>죄송합니다</h2> 
                  <h3 class="mb-5">검색 결과가 하나도 없습니다. </h3>
                  <h3>*</h3>
                  <h3>*</h3>
                  <h3>*</h3>
                </div>
              </div>
            </v-card>
          </div>

          <!-- 리뷰 작성 필요 -->
          <!-- <div v-if="message=='No reviews'" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <p style="font-size: 24px; font-weight: bolder;">리뷰 작성이 필요합니다.</p>
          </div> -->

          <!-- 추천 알고리즘과 유사도 적용한 음식점 -->
          <div v-else-if="message=='Recommended results'" class="mt-6">
            <h2 class="pt-3">당신을 위한 최고의 처방</h2>
            <v-card class="result-card" flat color="transparent">
              <div class="result-padding">
                <!-- <p class="font-weight-bold">추천 알고리즘과 유사도를 적용한 음식점</p> -->
                <div style="width:800px" class="mx-auto row">
                  <div class="result-content-1 col-5 mx-auto">
                    <div class="row mx-auto mb-5">
                      <v-img src="../../public/img/book.png" class="col-1" style="width:10px" />
                      <h1 class="col-5">
                        동의보감
                        <h4 style="font-size:18px">東醫寶鑑</h4>
                      </h1>
                    </div>
                    <div>
                      <div v-if="recommend_prescription.care" class="care mb-5">
                        <span class="font-italic">"{{ recommend_prescription.ingredient }} : {{ recommend_prescription.care }}"</span>
                      </div>
                      <div class="my-12"> 
                        <span class="ingredient"> "{{ recommend_prescription.ingredient }}"</span> 는(은) 
                        <span style="color:#a3142c; font-weight: bolder;">{{ recommend_prescription.name }}</span> 증상 완화에 
                        <span class="d-block">도움이 됩니다. </span> 
                      </div>
                      <div>
                        <span class="d-block">{{ userName }} 님은</span>
                        <span class="d-block"><span class="ingredient">"{{ recommend_prescription.ingredient }}"</span> 가(이) 들어간 음식을 드시면</span>
                        <span>건강이 좋아집니다.</span>
                        
                      </div>
                    </div>
                  </div>
                  <div class="result-content-2 col-5 mx-auto">
                    <div class="row mx-auto mb-5">
                      <h1 class="mx-auto col-5" >
                        처방 음식
                        <h4 style="font-size:18px">處方飮食</h4>
                      </h1>
                      <v-img src="../../public/img/logo5.png" class="col-1" style="width:20px" />
                    </div>
                    <div>
                      <div class="mb-5">
                        오늘은 <span class="ingredient">"{{recommend_prescription.ingredient}}"</span>가(이) 재료로 들어간
                        <span class="d-block" style="font-size:25px; font-weight:bolder; color:#185c24">{{recommend_menu.menu_name}}</span>
                        <span>어떠신가요?</span>
                      </div>
                      <div class="store-info">
                        <p class="mx-auto mb-2"> 
                          <i class="fas fa-store mr-2" style="color:#ab8f6f;" />
                          가게 정보
                          <i class="fas fa-store ml-2" style="color:#ab8f6f;" />
                        </p>
                        <span v-for="category in recommend_store.category_list" :key="category.id" class=" mx-2">
                          <v-btn rounded depressed small class="tag-btn" color="#e8e3d8" >
                            <span style="">{{ category }}</span>    
                          </v-btn>
                        </span>
                        <div class="text-start mx-5 mt-2" style="font-size:15px">
                          <span class="d-block">상호명: {{ recommend_store.store_name }}</span>
                          <span class="d-block">메뉴: {{ recommend_menu.menu_name }}</span>
                          <span class="d-block">주소: {{ recommend_store.address }}</span>
                          <span class="d-block">전화번호: {{ recommend_store.tel }}</span>
                          <v-card-actions>
                            <v-btn block text style=";" color="light-green darken-4" @click="goStoreDetail(recommend_store.id)">
                              가게 정보 더 알아보기
                            </v-btn>
                          </v-card-actions>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

            </v-card>
          </div>

          <!-- 유사도 적용한 음식점 -->
          <div v-else-if="message=='Similarity results'">
            <v-card class="result-card" flat color="transparent">
              <div class="result-padding">
                <div class="mx-auto mb-5">
                  <h2>죄송합니다.</h2> 
                  <h3 class="mb-5">건강상태를 고려한 처방 음식 결과가 없습니다.</h3>
                  <h3>*</h3>
                  <h3>*</h3>
                  <h3>*</h3>
                  <h4 style="font-size:18px" class="mb-3">대신 이 음식점은 어떠신가요?</h4> 
                  <h4>{{ userName }}님의 나이/성별/취향을 고려하여 추천하는 음식점 입니다.</h4>
                </div>
                <!-- <p class="font-weight-bold">추천 알고리즘과 유사도를 적용한 음식점</p> -->
                <div class="result-content-2 col-5 mx-auto">
                  <div>
                    <div class="store-info">
                      <p class="mx-auto mb-2">
                        <i class="fas fa-store mr-2" style="color:#ab8f6f;" />
                        가게 정보
                        <i class="fas fa-store ml-2" style="color:#ab8f6f;" />
                      </p>
                      <span v-for="category in similarity_store.category_list" :key="category.id" class=" mx-2">
                        <v-btn rounded depressed small class="tag-btn" color="#e8e3d8" >
                          <span style="">{{ category }}</span>    
                        </v-btn>
                      </span>
                      <div class="text-start mx-5 pt-2 mt-2">
                        <span class="d-block">상호명: {{ similarity_store.store_name }}</span>
                        <span class="d-block">주소: {{similarity_store.address}}</span>
                        <span class="d-block">전화번호: {{similarity_store.tel}}</span>
                        <v-card-actions>
                          <v-btn block text style=";" color="light-green darken-4" @click="goStoreDetail(similarity_store.id)">
                            가게 정보 더 알아보기
                          </v-btn>
                        </v-card-actions>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </v-card>
          </div>
           

        </div>
      </v-flex>

      <!-- 추천 알고리즘과 유사도 적용한 다른 음식점을 아래에 추천 -->
      <v-flex v-show="showResults" class="text-center" cols="10">
        <div v-if="loading==false&&message=='Recommended results'">
          <v-card class="mx-auto col-9" flat color="transparent">
            <div style="text-align: center;" >
              <h2 class="pt-3">당신을 위한 차선의 처방</h2>
            </div>
            <!-- 음식점 리스트 -->
            <v-container>
              <v-row dense>
                <v-col v-for="other in recommend_other_store" :key="other.id" class="mx-auto">
                  <v-system-bar color="#5e4f3c" dark />
                  <v-card color="#e6d1b8" flat class="mb-5 mx-1">
                    <div class="py-8 ">
                      <div style="text-align: center; color:#2b332c;">
                        <div>
                          <div class="care mx-auto" style="width:400px; height:150px">
                            <p class="mt-6"><strong>{{ other.other_prescription.name }}</strong> 증상 완화에 도움이 되는 </p>
                            <p><strong>{{ other.other_prescription.ingredient }}</strong>을(를) 처방합니다. </p>
                          </div>

                          <div class="my-5">
                            <span class="ingredient">"{{ other.other_prescription.ingredient }}"</span>가(이) 재료로 들어간
                            <span class="d-block" style="font-size:25px; font-weight:bolder; color:#185c24">{{ other.other_menu.menu_name }}</span>
                          </div>

                          <div class="store-info mx-auto" style="width:400px;">
                            <p class="mx-auto mb-2"> 
                              <i class="fas fa-store mr-2" style="color:#ab8f6f;" />
                              가게 정보
                              <i class="fas fa-store ml-2" style="color:#ab8f6f;" />
                            </p>
                            <span v-for="category in other.other_store.category_list" :key="category.id" class=" mx-2">
                              <v-btn rounded depressed small class="tag-btn" color="#e8e3d8" >
                                <span style="">{{ category }}</span>    
                              </v-btn>
                            </span>
                            <div class="text-start mx-5 mt-2" style="font-size:15px">
                              <span class="d-block">상호명: {{ other.other_store.store_name }}</span>
                              <span class="d-block">메뉴: {{ other.other_menu.menu_name }}</span>
                              <span class="d-block">주소: {{ other.other_store.address }}</span>
                              <span class="d-block">전화번호: {{ other.other_store.tel }}</span>
                              <v-card-actions>
                                <v-btn block text style=";" color="light-green darken-4" @click="goStoreDetail(other.other_store.id)">
                                  가게 정보 더 알아보기
                                </v-btn>
                              </v-card-actions>
                            </div>
                          </div>
                        </div>
                      </div>                    
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </div>
      </v-flex>
    </div>

    <!-- 로그인 하지 않은 경우 -->
    <div v-else class="container">
      <v-flex text-center col-12>
        <div style="background-color:transparent">
          <p class="d-block">처방을 받기 위해서는 로그인이 필요합니다.</p>
        </div>
      </v-flex>
      <v-flex text-center col-12>
        <v-btn outlined @click="goLogin()">
          로그인
        </v-btn>
      </v-flex>
    </div>
  </div>
</template>

<script>
import router from "../router";
import baseURL from "../http-common";

export default {
  data: () => ({
    userName: "",
    isAuthenticated: "",
    requestHeader: "",
    userId: "",
    health: [],
    healthList: "",
    local: "",
    showResults : false,
    message: "",
    loading: false,
    recommend_store: {},
    recommend_menu: {},
    recommend_prescription: {},
    recommend_other_store: [],
    similarity_store: {},
  }),
  watch: {
    health: function () {
      this.getHealthList()
    }
  },
  mounted: function() {
    this.userName = this.$store.getters.userName,
    this.isAuthenticated = this.$store.getters.isAuthenticated,
    this.requestHeader = this.$store.getters.requestHeader,
    this.userId = this.$store.getters.userId
    this.showResults = false
    if (this.userName !== null) {
      this.getReviews()
    }
  },
  methods: {
    getRecommend() {
      this.showResults = true
      this.loading = true
      this.message = ""
      this.recommend_store = {}
      this.recommend_menu = {}
      this.recommend_prescription = {}
      this.recommend_other_store = []
      this.similarity_store = {}
      baseURL
      .post(
        '/api/recommend/',
        {
          health: this.health,
          local: this.local,
        },
        this.requestHeader
      )
      .then((res) => {
        if (res.data.message === "검색 결과가 없습니다.") {
          this.message = "No search results"
          this.loading = false
        } else if (res.data.message === "건강추천시스템") {
          this.message = "Recommended results"
          this.recommend_store = res.data.store
          this.recommend_menu = res.data.menu
          this.recommend_prescription = res.data.prescription
          this.recommend_other_store = res.data.other_store_list
          this.loading = false
        } else if (res.data.message === "유사도") {
          this.message = "Similarity results"
          this.similarity_store = res.data.store
          this.loading = false
        }
      })
      .catch((e) => {
        if (e.response.request.statusText === "Unauthorized") {
          alert("로그인이 필요합니다.")
        }
      })
    },
    goStoreDetail(storeId) {
      router.push(`/storedetail/${storeId}`)
    },
    getHealthList() {
      if (this.health.length == 1) {
        this.healthList = ""
        for (var i = 0; i < 1; i++){
          this.healthList = this.health[i]
        }
      } else {
        this.healthList = ""
        this.healthList = this.health.join("&")
      }
    },
    getReviews() {
      this.showResults = false
      this.message = ""
      baseURL
      .post(
        '/api/recommend/',
        {
          health: this.health,
          local: this.local,
        },
        this.requestHeader
      )
      .then((res) => {
        if (res.data.message == "리뷰 작성이 필요합니다.") {
          this.message = "No reviews"
        }
      })
      .catch(() => {
      })
    },
    goLogin() {
      router.push(`/signin`)
    },
  }
};
</script>
<style >
.result-card{
  background-image: url("../../public/img/durumari7.png");
  background-size: 100% 100%;
}
.result-content-1{
  background-color: rgba(226, 230, 191, 0.5);
  border-radius: 10px;
}
.result-content-2{
  background-color: rgba(224, 162, 157, 0.5);
  border-radius: 10px;
}
.result-padding{
  padding-top:100px; 
  padding-bottom:100px; 
  padding-right:60px; 
  padding-left:60px;
}
.care{
  background-image: url("../../public/img/두루마리6.png");
  background-size: 100% 100%;
  padding:10px;
}
.ingredient{
  font-size:20px; 
  font-weight: bolder;
}
.store-info{
  background-color:  rgba(242, 228, 207, 0.5);
  border-radius: 20px;
  padding-top:10px
}
.check{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(196, 183, 176, 0.315);
  border-radius: 10px;
}
.recommend-btn{
  background-image: url("../../public/img/두루마리11.png");
  background-size: 100% 100%;
}

</style>