<template>
  <v-container
    v-infinite-scroll="loadMore"
    infinite-scroll-disabled="loading"
    infinite-scroll-distance="10"
    class="mt-0 pt-0"
  >
    <div style="z-index:0; position: absolute; position: fixed; top: 0; right:0; ">
      <v-img src="../../public/img/boat.png" class="mx-auto" style="width:350px" contain />
    </div>

    <div style="z-index:0; position: absolute; position: fixed; bottom: 0; left:0; ">
      <v-img src="../../public/img/fish.png" class="mx-auto" style="width:250px" contain />
    </div>
    
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width:200px; margin-left: auto; margin-right: auto;" /> 
    </router-link>

    <div class="mx-auto my-2" style="display: block;">
      <v-layout align-center justify-center>
        <div class="d-flex justify-content-center">
          <v-col class="mt-2" style="height:10px">
            <v-overflow-btn
              v-model="storeLocal"
              :items="location"
              label="지역"
              color="#968065"
              target="#dropdown-example"
              style="font-size: 12px; width:140px; height:10px"
            />
          </v-col>

          <v-col cols="12" sm="6" md="3" style="min-width:450px">
            <v-text-field
              v-model="storeName"
              label="식당 검색"
              outlined
              color="#968065"
              @keyup.enter="goSearch"
            />
          </v-col>

          <v-btn icon style="padding: 12px;" class="mt-2" @click="goSearch">
            <i class="fas fa-search" style="font-size:25px; color:#968065" />
          </v-btn>
        </div>
      </v-layout>
    </div>

    <v-container fill-height fluid grid-list-xl>
      <v-layout justify-center wrap mt-5>
        <v-flex v-if="storeList.length == 0" class="text-center" xs12 md8>
          <h3>{{ errorMsg }}</h3>
        </v-flex>
        <v-container>
          <v-col v-for="store in storeList" :key="store.id" class="mx-auto text-center" style="width:700px;">
            <v-card flat color="#5e4f3c" dark>
              <h3 class="py-2">
                <i class="fas fa-store mr-2" style="color:#ab8f6f;" />
                {{ store.store_name }}
                <i class="fas fa-store ml-2" style="color:#ab8f6f;" />
              </h3>
            </v-card>

            <v-card color="#e6d1b8" flat class="mx-1">
              <div class="py-4 ">
                <div style="text-align: center; color:#2b332c;">
                  <div>
                    <span v-for="c in store.category_list" :key="c.id" class="mb-4 mx-2">
                      <v-btn rounded depressed class="tag-btn" color="#e8e3d8">
                        <!-- <span style="color:#c44f4f;"># </span>  -->
                        <span style="">{{ c }}</span>
                        
                      </v-btn>
                      
                    </span>
                    <div class="store-info-2 mx-auto mt-4" style="width:450px;">
                      <div class=" text-start mx-5 px-12 py-8">
                        
                        <span class="d-block">
                          <i class="fas fa-map-marker-alt font-15px" style="color:#694e49" />
                          주소
                        </span>
                        <p class="font-15px ml-6">{{ store.address }}</p>
                        <span class="d-block">
                          <i class="fas fa-phone font-15px" style="color:#694e49" />
                          전화번호
                        </span>
                        <p class="font-15px ml-6">{{ store.tel }}</p>
                      </div>
                    </div>
                    <v-btn block text style=";" color="light-green darken-4" @click="goStoreDetail(store.id)">
                      가게 정보 더 알아보기
                    </v-btn>
                  </div>
                </div>                    
              </div>
            </v-card>
          </v-col>
        </v-container>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
// import Card from "@/components/Card";
// import StoreListCard from "@/components/StoreListCard";
import { mapState, mapActions } from "vuex";
// import axios from "axios";
import baseURL from "../http-common";

export default {
  // components: {
    // Card,
    // StoreListCard
  // },
  data: () => ({
    // params2: this.$route.props.loc,
    storeName: "",
    storeLocal: "",
    location: ['전체', '서울', '인천', '대전', '광주', '대구', '부산', '울산','제주도', "경기도", "강원도", "충청도", "전라도", "경상도"],
    loading: true,
    storeList: [],
    errorMsg: "",
  }),
  computed: {
    getlocation(){
      return this.$router.params.loc;
    },
    getword(){
      return this.$router.props.word
    },
    ...mapState({
      stores: state => state.data.storeSearchList,
      page: state => state.data.storeSearchPage
    })
  },
  mounted() {
    if (this.$route.params.word !== undefined || this.$route.params.loc !== undefined) {
      // console.log(this.$route.params.word, this.$route.params.loc)
      this.storeName= this.$route.params.word
      this.storeLocal= this.$route.params.loc
    }
    this.goSearch()
    this.pageCount = (this.storeList.length / this.itemsPerPage)
    },
    // ...mapActions("data", ["getStores"]),

  loadMore: async function() {
    this.loading = true;
    const params = {
      name: this.storeName,
      // page: this.page,
      append: true
    };
    await this.getStores(params);
    setTimeout(() => {
      this.loading = false;
    }, 1000);
  },
  
  methods: {
    goStoreDetail(storeId) {
      this.$router.push(`/storedetail/${storeId}`)
    },
    goSearch() {
      if (this.storeLocal == "전체"){
        this.storeLocal = ""
      }
      baseURL.post('/api/search/', {
        store_name: this.storeName,
        local: this.storeLocal,
      })
      .then((res) => {
        this.errorMsg = ""
        this.storeList = [] 
        if (res.data.message == "항목을 입력해주세요") {
          this.errorMsg = "음식점명 또는 지역을 입력해주십시오."
        } else if(res.data.message == "검색 결과가 없습니다.") {
          this.errorMsg = "검색 결과가 없습니다." 
        } else {
          this.storeList = res.data
        }
      })
      .catch(() => {
      })
    },

    ...mapActions("data", ["getStores"]),

    loadMore: async function() {
      this.loading = true;
      const params = {
        name: this.storeName,
        // page: this.page,
        append: true
      };
      await this.getStores(params);
      setTimeout(() => {
        this.loading = false;
      }, 1000);
    }
  }
};
</script>

<style>
.v-text-field__details{
  display: none;
}
.v-input__slot{
  height: 25px;
}
.store-info-2{
  background-image: url("../../public/img/두루마리6.png");
  background-size: 100% 100%;
  border-radius: 20px;
  padding-top:10px
}
.font-15px{
  font-size: 15px;
}
</style>