<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="full-height"
        fluid
      >
        <v-layout justify-center align-center>
          <transition name="fade">
            <v-tooltip v-if="shows" top>
              <template v-slot:activator="{on}">
                <v-img
                  v-if="shows"
                  src="/img/책표지.png"
                  max-width="520"
                  max-height="520"
                  style="cursor:pointer;"
                  v-on="on"
                  @click="clickimg"
                />
              <!-- @click.stop="dialog = true" -->
              </template>
              <span>회원등록 책</span>
            </v-tooltip>
          </transition>
          <!-- <v-dialog
            v-model="dialog"
            max-width="451"
            max-height="401"
          > -->
          <v-img
            v-if="show"
            class="mt-10"
            src="/img/책펼침.png"
            max-height="630"
            max-width="630"
          >
            <v-row align="center" justify="center">
              <v-col align="center">
                <p class="pr-12 pt-12 mt-12 mr-12 ml-n12" style="writing-mode:tb-rl; font-size:50px">
                  회원가입
                </p>
              </v-col>
              <v-col>
                <v-card
                  max-width="16rem" 
                  height="0rem" 
                  class="mt-n12 pt-n12 ml-2"
                  style="margin-bottom:150px"  
                >
                  <!-- <v-card-title>
                  <h1>SIGN IN</h1>
                </v-card-title>
                <v-col> -->
                  <v-card-text>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      <v-text-field
                        v-model="credential.username"
                        :rules="nameRules"
                        :counter="30"
                        label="아이디 입력"
                        required
                        color="#94602c"
                        placeholder="ID"

                      />
                      <v-text-field
                        v-model="credential.password1"
                        :rules="password1Rules"
                        label="영문/숫자/특수문자를 포함하여 8자 이상"
                        type="password"
                        required
                        color="#94602c"
                        placeholder="Password"
                        class="my-8"
                      />
                      <v-text-field
                        v-model="credential.password2"
                        :rules="password2Rules"
                        label="비밀번호 확인"
                        type="password"
                        required
                        @keyup.13="submit"
                        color="#94602c"
                        placeholder="Check Password"

                      />
                      <v-layout align-center justify-center class="mt-8">
                        <v-row align="center" justify="center">
                          <v-btn class="ml-2 font-weight-bold subtitle-1" width="110" height="45" outlined color="#ab8f6f" @click="submit">
                            회원등록
                          </v-btn>
                          <v-btn class="ml-2 font-weight-bold subtitle-1" width="110" height="45" outlined color="#ab8f6f" @click="$router.go(-1)">
                            Back
                          </v-btn>
                        </v-row>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row> 
          </v-img>
          <!-- </v-dialog> -->
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
// import axios from "axios";
import router from "../router"
import baseURL from "../http-common";

export default {
  name: "Signup",
  data: () => ({
    shows: true,
    show: false,
    valid: true,
    loading: false,
    errors: null,
    credential: {
      username: "",
      password1: "",
      password2: "",
    },
    nameRules: [v => !!v || "ID is required"],
    password1Rules: [v => !!v || "Password is required"],
    password2Rules: [v => !!v || "Password is required"]
  }),
    
  methods: {
    submit() {
      baseURL
        .post("/rest-auth/registration/", 
          this.credential     
          )
        .then(() => {
          router.push("/");   
        })
        .catch(error => {
          this.errors = error.response.data;
          if(this.errors.username != null){
            alert("동일한 아이디가 존재합니다");
          }else if(this.errors.password1 != null){
            alert("너무 흔한 비밀번호 입니다");
          }else if(errors.non_field_errors != null){
            alert("비밀번호가 서로 다릅니다");
          } //non_field_errors 란?
        })
    },
    st_style(colSel) {
      return {
        color: colSel
      };
    },
    clickimg() {
      this.shows = false;
      this.show = true;
    }
  } 
}
</script>

<style scoped>
.bgimg{
  border: 0;
  padding: 0;
}
span {
    display: inline;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>