<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="full-height"
        fluid
      >
        <v-layout justify-center align-center>
          <transition name="fade">
            <v-tooltip v-if="shows" top>
              <template v-slot:activator="{on}">
                <v-img
                  v-if="shows"
                  src="/img/책표지.png"
                  max-width="520"
                  max-height="520"
                  style="cursor:pointer;"
                  v-on="on"
                  @click="clickimg"
                />
              <!-- @click.stop="dialog = true" -->
              </template>
              <span>로그인 책</span>
            </v-tooltip>
          </transition>
          <!-- <v-dialog
            v-model="dialog"
            max-width="451"
            max-height="401"
          > -->
          <v-img
            v-if="show"
            class="mt-10"
            src="/img/책펼침.png"
            max-height="630"
            max-width="630"
          >
            <v-row align="center" justify="center">
              <v-col align="center">
                <p class="pr-12 pt-12 mt-12 mr-12 ml-n12" style="writing-mode:tb-rl; font-size:50px">
                  로 그인
                </p>
              </v-col>
              <v-col>
                <v-card
                  max-width="16rem" 
                  height="0rem" 
                  class="mt-n6 pt-n12 mb-12 ml-2"  
                >
                  <v-card-text>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      <v-text-field
                        v-model="credential.username"
                        :rules="nameRules"
                        :counter="30"
                        label="아이디"
                        required
                        color="#94602c"
                      />
                      <v-text-field
                        v-model="credential.password"
                        :rules="passwordRules"
                        label="비밀번호"
                        required
                        type="password"
                        color="#94602c"
                        @keyup.13="login"
                      />
                      <v-layout align-center justify-center class="mt-8">
                        <v-row align="center" justify="center">
                          <v-btn class="mr-2 font-weight-bold subtitle-1"  width="100" height="45" dark color="#ab8f6f" @click="login">
                            로 그 인
                          </v-btn>
                          <v-btn class="ml-2 font-weight-bold subtitle-1"  width="100" height="45" dark color="#ab8f6f" @click="to_sign_up">
                            회원가입
                          </v-btn>
                        </v-row>
                      </v-layout>
                    </v-form>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row> 
          </v-img>
          <!-- </v-dialog> -->
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
// import axios from "axios";
import router from "../router"
import baseURL from "../http-common";

export default {
  name: "Signin",
  data: () => ({
    valid: true,
    loading: false,
    shows: true,
    show: false,
    errors: [],
    credential: {
      username: "",
      password: ""
    },
    nameRules: [v => !!v || "ID is required"],   //  || 앞에있는조건값이 거짓이면 뒤가 출력
    passwordRules: [v => !!v || "Password is required"],  
    dialog: false
  }),
  methods: {
    to_sign_up() {
      this.$router.push("/signup");
    },
    clickimg() {
      this.shows = false;
      this.show = true;
    },
    login() {
      if (this.checkForm()) {
      baseURL
        .post("/rest-auth/login/", this.credential)
        .then(res => {
          this.loading = true;
        // this.$session.start();
        // this.$session.set("jwt", res.data.token);
          this.$store.dispatch("login", res.data.token);
          router.go(-1);
          })
        .catch(() => {
          this.loading = true;
          alert("ID 와 비밀번호를 재 확인하십시오");
        })
      }
    },
    checkForm() {
      this.errors = [];
      if (this.credential.password.length < 8) {
        this.errors.push("The password should be longer than 8 digits");
      }
      if (!this.credential.username) {
        this.errors.push("You should put the username");
      }
      if (this.errors.length === 0) {
        return true;
      }
    }
  },    
};
</script>

<style>
span {
    display: inline;
}
.v-btn__content {
  font-size: 18px;
}

.bgimg{
  border: 0;
  padding: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1.8s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>