<template>
  <v-container fluid="fluid" pa-0="pa-0" class="">
    <v-card flat class="text-center mx-auto" color="transparent" style="width:700px" align-center justify-center>
      <hr size="5" noshade color="#ab8f6f">
      <h1 class="mb-2">
        <i class="fas fa-store mt-2 mb-0 mr-5" style="color:#ab8f6f; font-size:20px" />
        {{ storeName }}
        <i class="fas fa-store mt-2 mb-0 ml-5" style="color:#ab8f6f; font-size:20px" />
      </h1>
      <hr size="5" noshade color="#ab8f6f">
    </v-card>

    <Images :postimages="postimages" />
    <Storeinfo :storedata="storedata" :storemenus="storemenus" :category_list="category_list" class="mt-6" />
    <Reviews :storeinfo="storeinfo" :storereviews="storereviews" />
    <ReviewList :storeinfo="storeinfo" :storereviews="storereviews" />
    <v-sheet id="scroll-area-1" class="overflow-y-auto" max-height="600" />
  </v-container>
  
</template>

<script>
// import axios from "axios";
import ReviewList from "../components/ReviewList";
import Images from "../components/Images";
import Storeinfo from "../components/Storeinfo";
import Reviews from "../components/Reviews"
import baseURL from "../http-common";

export default {
  components: {
    // Score,
    Images,
    Storeinfo,
    Reviews,
    ReviewList
  },
  props: [],
  data() {
    return {
      postimages: {},
      storeinfo: {},
      storeName: "",
      storedata: {},
      category_list: [],
      storemenus: [],
      storereviews: [],
    };
  },mounted() {
    this.getStores()
  },
  methods: {
    getStores() {
      baseURL
        .get(`/api/stores/${this.$route.params.id}/`)
        .then(res => {
          this.postimages = res.data.store_image_set;
          this.storeinfo = res.data;
          this.storeName = res.data.data.store_name
          this.storedata = res.data.data;
          this.category_list = res.data.data.category_list;
          this.storemenus = res.data.menus;
          this.storereviews = res.data.reviews;
        })
        .catch(() => {
        });
    },
  },
};
</script>
<style>

</style>