<template>
  <v-container class="mt-0 pt-0">
    <div style="z-index:0; position: absolute; position: fixed; top: 0; right:0; ">
      <v-img src="../../public/img/flower7.png" class="mx-auto" style="width:350px" contain />
    </div>
    <div style="z-index:0; position: absolute; position: fixed; bottom: 0; left:0; ">
      <v-img src="../../public/img/flower16.png" class="mx-auto" style="width:350px" contain />
    </div>
    <router-link to="/">
      <v-img src="../../public/img/logo4.png" style="max-width:200px; margin-left: auto; margin-right: auto;" /> 
    </router-link>

    <div class="mt-12" style="text-align: center;">
      <v-card max-width="600" class="mx-auto" flat color="transparent" >
        <h1 style="text-align: center;" class="row mx-auto" >
          <img src="../../public/img/bird.png" style="height:40px" class="mt-3 mx-3">
          <h4>리뷰 많은 음식점</h4>
          <v-overflow-btn
            v-model="top_local"
            color="#968065"
            :items="location"
            label="지역"
            target="#dropdown-example"
            style="font-size: 12px; width:20px; height:10px"
            class="ml-8 mb-0"
          />
          <i class="fas fa-search ml-6 mt-3" style="font-size:25px; cursor: pointer" @click="top_review_search" />
         
        </h1>
        <v-system-bar color="#5e4f3c" dark style="height:10px;" class="my-2" />
     
        <v-container>
          <v-row v-if="loading" dense>
            <v-col v-for="(top_review, i) in top_reviews" :key="i" cols="12">
              <router-link :to="`/storedetail/${top_review.store.id}`" style="text-decoration:none">
                <v-card color="#e6d1b8" dark>
                  <div class="d-flex flex-no-wrap justify-space-between">
                    <div style="text-align: start; color:#2b332c;" class="mx-2">
                      <v-card-title class="mx-0" >
                        {{i+1}} . {{ top_review.store.store_name }}  
                      </v-card-title>
                      <div v-if="top_review.store.category_list" class="ml-10 mb-3">
                        <span v-for="category in top_review.store.category_list" :key="category.id" class=" mx-2">
                          <v-btn rounded depressed small color="#e8e3d8" >
                            <span style="color:black">{{ category }}</span>    
                          </v-btn>
                        </span>
                      </div>
                      <div class="ml-5 mr-3 mb-3 mt-0">
                        <p class="my-1">
                          <i class="fas fa-phone" style="color:#694e49" />
                          {{ top_review.store.tel }}
                        </p>
                        <p class="my-1">
                          <i class="fas fa-map-marker-alt" style="color:#694e49" />
                          {{ top_review.store.address }}
                        </p>
                        <p class="my-1">
                          <i class="fas fa-key" style="color:#694e49" />
                          댓글 키워드
                        </p>
                        <div class="row ml-3">
                          <div v-for="(keyword, j) in top_review.keywords" :key="j" style="display:inline" class="">
                            <div class="mr-1">
                              <strong style="color:#c44f4f">#</strong> <span>{{ keyword }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </v-card>
              </router-link>
            </v-col>
          </v-row>
          <v-row v-else>
            <div style="margin-left: 210px">
              <v-icon>mdi-loading mdi-spin</v-icon>
              불러오는 중입니다.
            </div>
          </v-row>
        </v-container>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import baseURL from "../http-common";

export default {
  data: () => ({
    top_reviews: {},
    top_local: "서울",
    location: ['서울', '인천', '대전', '광주', '대구', '부산', '울산','제주도', "경기", "강원", "충청", "전라", "경상"],
    loading: false

  }),
  mounted() {
    baseURL
      .post('/api/keywords/', {local: this.top_local})
      .then((res) => {
        this.top_reviews = res.data.store_keywords_list
        this.loading = true
      })
      .catch(() => {
      })
  },
  methods: {
    top_review_search() {
      baseURL
      .post('/api/keywords/', {local: this.top_local})
      .then((res) => {
        this.top_reviews = res.data.store_keywords_list
      })
      .catch(() => {
      })
    }
  },
}
</script>

<style>
.v-text-field__details{
  display: none;
}
.v-input__slot{
  height: 25px;
}
.cardlist{
  background-image: url("../../public/img/두루마리3.png");
  background-size: 100% 250px;
}

</style>
