<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="inputValue"
    app="app"
    temporary="temporary"
    dark="dark"
    class=".d-flx my-auto"
    mobile-break-point="900"
    width="300"
  >
    <v-container class="" style="margin-top:120px">
      <v-img
        src="/img/logo3.png"
        max-height="155"
        max-width="200"
        style="cursor:pointer;"
        class="mx-auto"
        @click="to_home"
      />
      <v-layout column="column">
        <v-card class="d-inline-block mt-9">
          <v-row justify="center" align="center" />
          <v-row justify="center" align="center">
            <v-col v-if="isAuthenticated" align="center">
              <span 
                style="cursor:pointer;"
                @click="to_mypage"
              >마이페이지
              </span>
            </v-col>
            <v-col v-if="isAuthenticated" align="center">
              <span 
                style="cursor:pointer;"
                @click="to_log_out"
                @click.stop="inputValue = !inputValue"
              >로그아웃
              </span>
            </v-col>
            <v-col v-if="!isAuthenticated" align="center">
              <span 
                style="cursor:pointer;"
                @click="to_sign_in"
              >로그인
              </span>
            </v-col>
            <v-col v-if="!isAuthenticated" align="center">
              <span
                style="cursor:pointer;"
                @click="to_sign_up"
              >회원가입
              </span>
            </v-col>
          </v-row>
        </v-card>
        
        <v-list rounded="rounded">
          <div v-if="isAuthenticated">
            <v-list-item
              v-for="(loginLink, i) in loginLinks"
              :key="i"
              :to="loginLink.to"
              color="#ded4c1"
              class="v-list-item ma-3"
            >
              <v-list-item-action>
                <v-icon>{{ loginLink.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-title v-text="loginLink.text" />
            </v-list-item>
          </div>
        </v-list>
      </v-layout>
    </v-container>

    
    <v-footer absolute bottom>
      <span class="white--text">&copy; &nbsp; 빅히어로 </span>
      <v-spacer />
    </v-footer>


  </v-navigation-drawer>
</template>

<script>
    import {mapMutations, mapState} from "vuex";
    // import {mapGetters} from "vuex";

    export default {
        props: {
            opened: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            links: [
                {
                    to: "/listpage",
                    icon: "mdi-format-list-bulleted-square",
                    text: "음식점 리스트"
                },
            ],
            loginLinks: [
              {
                to: "/recommend",
                icon: "mdi-star",
                text: "맞춤 음식 처방"
              },
              {
                to: "/topscore",
                icon: "mdi-thumb-up-outline mdi-18px ",
                text: "평점 높은 음식점"
              },
              {
                to: "/topreview",
                icon: "mdi-tooltip-text mdi-18px",
                text: "리뷰 많은 음식점"
              },
              {
                to: "/listpage",
                icon: "mdi-format-list-bulleted mdi-18px",
                text: "전체 음식점"
              },
              {
                to: "/search",
                icon: "mdi-magnify mdi-18px",
                text: "음식점 검색"
              },
            ],

            isAuthenticated: "",
            userName: ""

        }),
        computed: {
            ...mapState("app", ["drawer"]),
            inputValue: {
                get() {
                    return this.drawer;
                },
                set(val) {
                    this.setDrawer(val);
                }
            }
        },
        updated() {
            // this.isAuthenticated = this.$session.has("jwt");
            this.isAuthenticated = this.$store.getters.isAuthenticated;
        },
        mounted() {
            this.isAuthenticated = this.$store.getters.isAuthenticated,
            this.userName = this.$store.getters.userName
        },
        methods: {
            ...mapMutations("app", ["setDrawer"]),
            to_sign_in() {
                this
                    .$router
                    .push("/signin");
            },
            to_sign_up() {
              this.$router.push("/signup")
            },
            to_log_out() {
                alert("로그아웃 되었습니다");
                this.$store.dispatch("logout");
                this.$router.push("/");

            },
            to_home() {
              this.$router.push("/");
            },
            to_mypage() {
              this.$router.push("/mypage");
            }
        }
    };
</script>