<template>
  <div class="mx-5">
    <v-row v-if="postimages.img_1" class="d-flex align-center">
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          :src="postimages.img_1"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          :src="postimages.img_2"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          :src="postimages.img_3"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
    </v-row>
    <v-row v-else class="d-flex align-center">
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          src="https://source.unsplash.com/400x400/?meal"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          src="https://source.unsplash.com/400x400/?meal,lunch"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
      <v-col cols="6" sm="4" style="height:25rem; y-0;">
        <v-img
          src="https://source.unsplash.com/400x400/?meal,dinner"
          style="height:25rem; object-fit: cover"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  props: {
    // 크롤링 성공하면 주석 풀기
    postimages: Object
  },
};
</script>

<style>
#img {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
#img2 {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  object-fit: cover;
}
</style>