<template>
  <v-flex xs12="xs12">
    <v-card class="mx-auto " flat width="900px" color="transparent">
      <!-- 리뷰 개수 -->
      <v-row class="mx-auto">
        <v-col>
          <v-card-title class="my-0">
            <h5>
              {{ storereviews.length }} 개의 리뷰가 있습니다
            </h5>
          </v-card-title>
        </v-col>
      </v-row>

      <!-- 리뷰 리스트 -->
      <v-container v-if="storereviews">
        <div v-for="(review,i) in storereviews" :key="i">
          <v-card-text class="cardlist-3 my-1">
            <v-row class="mx-2">
              <v-col cols="2" class="text-center my-auto">
                <v-img src="../../public/img/boat.png" style="width:100px" class="mx-auto" />
                <p class="mt-2">ID : {{ review.user.username }}</p>
              </v-col>
              <v-col align="start" justify="start">
                <v-flex class="mb-3">
                  <v-rating
                    v-model="review.score"
                    background-color="red accent-4"
                    color="red accent-4"
                    dense="dense"
                    half-increments="half-increments"
                    hover="hover"
                    size="18"
                    readonly="readonly"
                  />
                </v-flex>
                <v-flex v-if="review.content" class="review_content m-3">
                  <div class="px-3 py-3">
                    {{ review.content }}
                  </div>
                </v-flex>
                <v-flex v-else class="m-3">
                  <div class="px-3 py-3" />
                </v-flex>
              </v-col>
            </v-row>
          </v-card-text>
        </div>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    props: {
      storeinfo: Object,
      storereviews: Array,
    },
    data: () => ({
    }) 
  }
</script>
<style>
.cardlist-3{
  background-image: url("../../public/img/두루마리9.png");
  background-size: 100% 100%;
}
.review_content{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
</style>