<template>
  <div xs12="xs12" width="900px">
    <h2 class="mx-auto my-5" style="width:900px">
      <img src="../../public/img/bird.png" style="width:30px" class="my-auto">
      리뷰
    </h2>
    <v-card class="mx-auto my-5 cardlist-1" flat width="900px" color="transparent">
      <div class="mx-3 my-3">
        <v-card-title v-if="isAuthenticated&&gender&&age" class="pt-8 ml-3" primary-title="primary-title" />
        <v-card-text v-if="isAuthenticated" color="transparent">
          <div v-if="gender && age">
            <div class="mx-6">
              <v-text-field v-model="content" solo="solo" label="리뷰를 작성해주세요" height="120px"/>
              <v-rating
                v-model="score"
                color="red accent-4"
                background-color="grey darken-1"
                hover="hover"
                class="text-center"
              />
            </div>
            <v-card-actions class="justify-space-between">
              <v-btn class="mr-5 mb-5" color="#5c4d3b" dark disabled>취소</v-btn>
              <v-btn class="mr-5 mb-5" color="#5c4d2b" dark @click="createReview(score, content)">후기 작성</v-btn>
            </v-card-actions>
          </div>
          <div v-else class="px-12 py-12 text-center">
            <p>
              리뷰를 입력하기 위해서는 성별, 나이 정보 업데이트가 필요합니다
            </p>
            <router-link to="/myinfoupdate" style="text-decoration:none">
              <v-btn color="#5c4d3b" dark>
                회원정보 수정하기
              </v-btn>  
            </router-link>
          </div>
        </v-card-text>
        <div v-else class="px-12 py-12 text-center" >
          <p>
            리뷰를 입력하기 위해서는 로그인이 필요합니다
          </p>
          <router-link to="/signin" style="text-decoration:none">
            <v-btn color="#5c4d3b" dark>
              로그인
            </v-btn>
          </router-link>
        </div>
      </div>
    </v-card>

  </div>
</template>

<script>
// import axios from "axios";
import baseURL from "../http-common";

export default {
  props: {
    storeinfo: Object,
    storereviews: Array,
  },

  data() {
    return{
      score: 5, 
      content: '',
      isAuthenticated: '',
      gender: '',
      age: '',
      axiosStatus: "",
      userId: "",
      requestHeader: "",
    }
  },
  updated() {
    // this.isAuthenticated = this.$session.has("jwt");
      this.isAuthenticated = this.$store.getters.isAuthenticated;
  },
  mounted() {
    this.isAuthenticated = this.$store.getters.isAuthenticated
    this.userId = this.$store.getters.userId
    this.requestHeader = this.$store.getters.requestHeader
    this.getUser()
  },
  methods: {
    createReview(score, content) {
      const requestForm = new FormData();
      requestForm.append("content", content);
      requestForm.append("score", score);
      requestForm.append("store_id", this.storeinfo.data.id);
      baseURL
        .post(
          "/api/reviews/",
          requestForm,
          this.requestHeader
        )
        .then(() => {
        })
        .catch(() => {
        });
      location.reload();
    },
    getUser() {
      baseURL
      .get(`/api/users/${this.userId}/`, this.requestHeader)
      .then(res => {
        this.gender = res.data.data.gender;
        this.age = res.data.data.age;
      })
      .catch(() => {
      })
    }  
  },
}
</script>

<style>
.cardlist-1{
  background-image: url("../../public/img/두루마리7.png");
  background-size: 100% 100%;
}
</style>