<template>
  <!-- <v-flex xs12="xs12" style="padding:20px"> -->
  <v-container fluid="fluid">
    <v-card flat="flat">
      <v-row>
        <v-col>
          <v-card-title primary-title="primary-title">
            <div class="headline">{{ detailinfo.userinfo.scorelist.length }} reviews</div>
            <v-rating
              v-model="detailinfo.userinfo.score"
              background-color="yellow accent-4"
              color="yellow accent-4"
              dense="dense"
              half-increments="half-increments"
              hover="hover"
              size="18"
              readonly
            />
            <span class="grey--text text--lighten-2 caption mr-2">
              ({{ detailinfo.userinfo.score }})
              <!-- {{total_score}} -->
            </span>
          </v-card-title>
        </v-col>
      </v-row>
      <v-row />
      <v-divider />
      <v-container>
        <v-card-text v-for="(item,idx) in detailinfo.userinfo.scorelist" :key="idx">
          <v-row>
            <v-col cols="1" class="mt-3">
              <v-avatar>
                <img :src="imgurl + item.profileimg.targetimage">
              </v-avatar>
            </v-col>
            <v-col cols="5" align="start" justify="start">
              <v-row class="my-3">{{ item.comment }}</v-row>
              <v-row class="mb-3">
                <v-rating
                  v-model="item.score"
                  background-color="yellow accent-4"
                  color="yellow accent-4"
                  dense="dense"
                  half-increments="half-increments"
                  hover="hover"
                  size="18"
                  readonly
                />
                <span class="grey--text text--lighten-2 caption mr-2">({{ item.score }})</span>
              </v-row>

              <v-row>{{ item.date }}</v-row>
            </v-col>
          </v-row>
          <v-divider inset />
        </v-card-text>
      </v-container>
    </v-card>
    <!-- </v-flex> -->
  </v-container>
</template>
    <script>
export default {
  props: {
    detailinfo: Object
  },
  data: () => ({
    imgurl: null
  }),
  mounted() {
    this.imgurl = this.$store.getters.imageUrl;
  }
};
</script>
