<template>
  <div class="mx-5">
    <div style="max-width:900px" class="mx-auto">
      <v-container style="padding-left:0px; padding-bottom:0px;" />
      <v-container v-if="storedata">
        <h2>
          <img src="../../public/img/bird.png" style="width:30px" class="my-auto">
          가게 정보
        </h2>
        <v-row>
          <v-col>
            <h4 class="my-2">
              <i style="color:#877c63" class="fas fa-map-marker-alt" />
              주소 : {{ storedata.address }}
            </h4>

            <h4 v-if="storedata.tel" class="my-2">
              <i style="color:#877c63" class="fas fa-phone" />
              전화번호 : {{ storedata.tel }}
            </h4>
            <h4 v-if="category_list.length !== 0" class="my-2">
              <i style="color:#877c63" class="fas fa-book" />
              카테고리 :
              <span v-for="(category,i) in category_list" :key="i" class="my-2">
                {{ category }} 
              </span>
            </h4>
            <h4 v-if="storemenus.length !== 0" class="my-2">
              <i style="color:#877c63" class="fas fa-star-of-life" />
              메뉴
              <v-card class="cardlist-2 mx-auto" flat color="transparent" width="700px" min-height="300px">
                <div class="row mx-5 py-6">
                  <div v-for="(menu,i) in storemenus" :key="i" class="col-6" style="font-size:15px">
                    <i style="color:#6e8763" class="fas fa-leaf" />
                    {{ menu.menu_name }} : {{ Math.ceil(menu.price) }} 원
                  </div>
                </div>
              </v-card>
            </h4>            
          </v-col>
        </v-row>
      </v-container>
   
    </div>
  </div>
</template>

<script>

export default {
  props: {
    storedata: Object,
    category_list: Array,
    storemenus: Array,
  },
  data() {
    return {
    }
  },
};
</script>

<style>
.cardlist-2{
  background-image: url("../../public/img/두루마리5.png");
  background-size: 100% 100%;
}
</style>