<template>
  <v-app v-if="enter" id="app">
    
    <v-layout align-center justify-center fluid fill-height class="wrapper">
      <h1 align="center" class="d-inline-flex">
        <transition name="fade">
          <p v-if="shows" class="display-3 text--disabled" @mouseover="mouseover">
            <!-- <img src="../public/img/logo4.png" style="width:300px" alt=""> -->

            {{ message }}
          </p>
        </transition> 
        <!-- 트랜지션이 뭔가 바꿔주는 역할 -->
        <a style="color:rbga(255, 255, 255, 0.65);" @click="enterf">
          <p v-if="show" class="display-2 text--disabled" style="z-index:1">
            <img src="../public/img/logo4.png" style="width:300px" alt="">

          </p>
        </a>
      </h1>
    </v-layout>
  </v-app>      
  <v-app v-else id="app">
    <toolbar />
    <drawer />
    <route-view />
    <go-top />
    
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  </v-app>

</template>

<script>
/* eslint-disable */
import Drawer from "@/components/Drawer";
import Toolbar from "@/components/Toolbar";
import RouteView from "@/components/RouteView";
import GoTop from "@/components/GoTop";


export default {
  data: () => ({
    enter: false,
    // enter: true,
    message: "WELCOME",
    shows: true
  }),
  components: {
    Drawer,
    Toolbar,
    RouteView,
    GoTop
  },
  methods: {
    enterf() {
      this.enter = false;
    },
    mouseover() {
      this.shows = false;
      this.show = true;

    }
  }
};
</script>


<style>
@font-face { font-family: 'SunBatang-Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff'); font-weight: normal; font-style: normal; }
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.0s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
div, display-2 {
  font-family: 'SunBatang-Light';
  font-size: 18px
}
</style>